<!-- templates/homepage.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1>Dobrodošli na Homepage</h1>
    
    <p>Ovde možete pronaći linkove ka ostalim stranicama:</p>

    <ul>
        <li><a href="{% url 'destinacije-lista' %}">Destinacije</a></li>
        <li><a href="{% url 'smjestaji-lista' %}">Smještaji</a></li>
        <li><a href="{% url 'rezervacije-lista' %}">Rezervacije</a></li>
    </ul>
</body>
</html>
